.about-container {
  padding: 1rem 3rem 0;
  max-width: 1600px;
  margin: 0 auto;

  @include small-xs {
    padding: 0;
  }

  .row {
    padding-bottom: 8rem;
    @include small-xs {
      padding-bottom: 2rem;
    }

    .row-content {
      padding-left: 3rem;
      padding-right: 3rem;
  
      @include small-xs {
        padding-left: 0;
        padding-right: 0;
      }

      .cjs-link {
        color: #2C7EA1;
        font-weight: bold;

        &:hover{
          color: darken(#2C7EA1, 10%);
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }

  .about-cjs {
    .about-doc {
      background: #2C7EA1;
      margin-right: 20px;
    }
  
    .about-dev {
      background-color: #fff;
      color: #2C7EA1;
      border: 1px solid #2C7EA1;
    }
  }

  .about-net {
    background-color: #29A38A;
  }

  .about-gb {
    background-color: #283341;
  }

  .about-blog {
    background-color: #254E81;
    width: 140px;
  }

  img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
    }
    video {
      filter: contrast(100%) brightness(300%) grayscale(0%);
      z-index: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
    }

    img {
      transition: filter .5s ease-in-out;
      -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
      filter: grayscale(100%); /* FF 35+ */
      -moz-filter: grayscale(100%);
       -ms-filter: grayscale(100%);
       filter: grayscale(100%);
       filter: gray; /* IE 6-9 */
    }
    
    img:hover {
      -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
      filter: grayscale(0%); /* FF 35+ */
    }
    
  .about-image {
    img {
      @include small-xs {
       display: none;
       width: 100%;
      }
    }
  }
}
